/*
 *= require_self
 */

@import 'normalize';
@import 'journal.css.scss';
@import 'documents.css.scss';
@import 'welcome.css.scss';


/* --------- Welcome Page (Unauthenticated) ---------- */

#welcome-page {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url('/assets/storage 2.jpg');

  #welcome-box {
    border-radius: 5px;
    margin-top: 200px;
    background-color: rgba(0, 0, 0, 0.66);

    h1 {
      color: white;
    }

    h3 {
      color: white;
    }
  }
}

/* ----------- Navigation ------------- */

/* ----------- Document(Index) ------------ */

#document-box {
  border-radius: 5px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border: 1px solid navy;
  background-color: rgba(40, 133, 184, 0.33);

  a:hover {
    text-decoration: none;
  }
}

/* ----------- Document(Show) -------------- */

#show-button {
  padding-top: 10px;
}

/* ----------- Log-In --------------- */

#log-in {
  border: 1px solid gray;
  margin-top: 150px;
  padding-bottom: 15px;
  border-radius: 5px;
}
