<% if user_signed_in? %>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "FileCab", root_path, class: "navbar-brand" %>
    </div>

    <!-- Navbar left -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li></li>
        <li></li>
      </ul>

      <!-- Navbar right -->
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Create Doc", new_document_path %></li>
        <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<% end %>
